<div class="jumbotron">
    <h1>My blog</h1>

    <p class="lead">
        Proudly built with <a href="https://github.com/dunglas/api-platform">Dunglas's API Platform</a>
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<article ng-repeat="post in posts" id="{{ post['@id'] }}" class="row marketing">
    <h1>{{ post.name }}</h1>
    <h2>{{ post.headline }}</h2>

    <header>
        Date: {{ post.datePublished | date:'medium' }}
        <span ng-if="post.isFamilyFriendly"> - <b>NSFW</b></span>
    </header>

    <p>{{ post.articleBody }}</p>

    <footer>
        Section: {{ post.articleSection }}
    </footer>
</article>

<form name="createPostForm" ng-submit="createPost(createPostForm)" class="row marketing">
    <h1>Post a new article</h1>

    <div ng-show="success" class="alert alert-success" role="alert">Post published.</div>
    <div ng-show="errorTitle" class="alert alert-danger" role="alert">
        <b>{{ errorTitle }}</b><br>

        {{ errorDescription }}
    </div>

    <div class="form-group">
        <input ng-model="newPost.name" placeholder="Name" class="form-control">
    </div>

    <div class="form-group">
        <input ng-model="newPost.headline" placeholder="Headline" class="form-control">
    </div>

    <div class="form-group">
        <textarea ng-model="newPost.articleBody" placeholder="Body" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="author">Author</label>
        <select ng-model="newPost.author" ng-options="person['@id'] as person.name for person in people" id="author">
        </select>
    </div>

    <div class="form-group">
        <input ng-model="newPost.datePublished" placeholder="Date published" class="form-control">
    </div>

    <div class="form-group">
        <input ng-model="newPost.articleSection" placeholder="Section" class="form-control">
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="newPost.isFamilyFriendly"> is family friendly?
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
